In [27]:
#Importando las librerias
import pandas as pd
from sklearn.cluster import MiniBatchKMeans

In [28]:
#Cargando los datos
dataset = pd.read_csv('..\Datasets\candy.csv')
dataset.head(10)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824
8,Candy Corn,0,0,0,0,0,0,0,0,1,0.906,0.325,38.010963
9,Caramel Apple Pops,0,1,1,0,0,0,0,0,0,0.604,0.325,34.517681

In [29]:
X = dataset.drop('competitorname', axis=1)
X

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...
80,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [30]:
#Creando el modelo
kmeans = MiniBatchKMeans(n_clusters=4, batch_size=8).fit(X)

In [31]:
#Verificando los resultados
print('Total de centros: {}'.format(len(kmeans.cluster_centers_)))
print('='*64)
print(kmeans.predict(X))

Total de centros: 4
================================================================
[2 2 0 3 1 1 1 0 3 0 3 0 0 3 3 3 3 3 1 0 1 3 1 2 1 1 0 1 2 3 3 1 2 2 3 1 2
 1 2 1 1 1 2 2 0 3 3 2 3 3 3 2 2 2 2 0 2 0 3 0 2 1 3 3 2 1 1 1 2 0 0 0 0 1
 1 3 3 1 3 2 3 3 3 3 1]

In [32]:
#Uniendo las grupos con el dataset original
dataset['grupos'] = kmeans.predict(X)
dataset

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,grupos
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,2
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,2
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,3
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,3
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,3
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,3
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,3
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,1